<h1 style ="color:red;">SUPERVISED LEARNING (LOGISTIC REGRESSION) </h1>

<h2 style ="color:blue;">Nagendrbabu A</h2>

In [2]:
import pandas as pd
import numpy as np
import warnings 
warnings.filterwarnings("ignore")

In [8]:
liver_data=pd.read_csv("indian_liver_patient_dataset.csv")

In [9]:
liver_data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Liver_Problem
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [10]:
liver_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         500 non-null    int64
 1   Gender                      500 non-null    object
 2   Total_Bilirubin             500 non-null    float64
 3   Direct_Bilirubin            500 non-null    float64
 4   Alkaline_Phosphotase        500 non-null    int64
 5   Alamine_Aminotransferase    500 non-null    int64
 6   Aspartate_Aminotransferase  500 non-null    int64
 7   Total_Protiens              500 non-null    float64
 8   Albumin                     500 non-null    float64
 9   Albumin_and_Globulin_Ratio  496 non-null    float64
 10  Liver_Problem               500 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 43.1+ KB

In [11]:
liver_data.shape

(500, 11)

In [12]:
liver_data["Liver_Problem"].value_counts()

1    350
2    150
Name: Liver_Problem, dtype: int64

In [14]:
liver_data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Liver_Problem                 0
dtype: int64

In [16]:
liver_data["Albumin_and_Globulin_Ratio"].mean()

0.9609072580645165

In [17]:
liver_data.Albumin_and_Globulin_Ratio.fillna(liver_data["Albumin_and_Globulin_Ratio"].mean(),inplace=True)

In [18]:
liver_data.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    0
Liver_Problem                 0
dtype: int64

In [19]:
from sklearn.preprocessing import LabelEncoder

In [20]:
le=LabelEncoder()

In [21]:
liver_data.Gender=le.fit_transform(liver_data.Gender)

In [22]:
liver_data.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Liver_Problem
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1

### Separating input and target variables

In [31]:
x=liver_data.drop("Liver_Problem", axis=1)
y=liver_data["Liver_Problem"]

### Splitting Data into Train and Test

In [36]:
from sklearn.model_selection import train_test_split

In [38]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.2,random_state=101)

### Building Logistic Regression

In [39]:
from sklearn.linear_model import LogisticRegression

In [40]:
model=LogisticRegression()

In [42]:
model.fit(x_train, y_train)

LogisticRegression()

In [47]:
pred=model.predict(x_test)

In [82]:
from sklearn.metrics import confusion_matrix

import matplotlib.pyplot as plt
%matplotlib inline

In [84]:
tn,fp,fn,tp=confusion_matrix(y_test,pred).ravel()
print("true positivr=",tp)
print("true negative=",tn)
print("false positive=",fp)
print("false negative=",fn)

true positivr= 5
true negative= 60
false positive= 6
false negative= 29

In [86]:
from sklearn.metrics import accuracy_score,f1_score,precision_score

In [87]:
print("accuracy_score=",accuracy_score(y_test,pred))
print("precision_score=",precision_score(y_test,pred))
print("f1_score=",f1_score(y_test,pred))

accuracy_score= 0.65
precision_score= 0.6741573033707865
f1_score= 0.7741935483870969

In [88]:
test_new=pd.read_csv("indian_liver_patient_new_testdataset.csv")

In [90]:
test_new.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,36,Male,2.8,1.5,305,28,76,5.9,2.5,0.7
1,42,Male,0.8,0.2,127,29,30,4.9,2.7,1.2
2,53,Male,19.8,10.4,238,39,221,8.1,2.5,0.4
3,32,Male,30.5,17.1,218,39,79,5.5,2.7,0.9
4,32,Male,32.6,14.1,219,95,235,5.8,3.1,1.1

In [96]:
test_new["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [91]:
le=LabelEncoder()

In [98]:
test_new.Gender=le.fit_transform(test_new.Gender)

In [99]:
test_new.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,36,1,2.8,1.5,305,28,76,5.9,2.5,0.7
1,42,1,0.8,0.2,127,29,30,4.9,2.7,1.2
2,53,1,19.8,10.4,238,39,221,8.1,2.5,0.4
3,32,1,30.5,17.1,218,39,79,5.5,2.7,0.9
4,32,1,32.6,14.1,219,95,235,5.8,3.1,1.1

In [100]:
liver_probelm=model.predict(test_new)

In [105]:
res=pd.DataFrame(liver_probelm)
res.index=test_new.index
res.columns=["liver_probelm"]
res.to_csv("prediction_results_liver_probelm.csv")

In [107]:
data=pd.read_csv("prediction_results_liver_probelm.csv")

In [109]:
data

    Unnamed: 0  liver_probelm
0            0              1
1            1              1
2            2              1
3            3              1
4            4              1
..         ...            ...
77          77              1
78          78              1
79          79              1
80          80              1
81          81              2

[82 rows x 2 columns]

In [110]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82 entries, 0 to 81
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     82 non-null     int64
 1   liver_probelm  82 non-null     int64
dtypes: int64(2)
memory usage: 1.4 KB